<form name="contact" method="POST" action="thank-you" netlify>
    <p>
      <label>Email: <input type="text" name="name"></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <div netlify-recaptcha></div>
    <p>
      <button type=”submit”>Send</button>
    </p>
  </form>